html{
	height : 100%;
	padding : 0;
	margin : 0;
}
body{
	height : 100%;
	padding : 0;
	margin : 0;
	font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
	font-size : 14px;
}
.selection{
	background-color: #f5f5f5;
}
.leaflet-popup{
	min-width : 100px;
}
.leaflet-popup-content-wrapper{
	border-radius : 0;
	padding : 0;
}
.leaflet-popup-content{
	margin : 0;
}
.pop-header{
	padding : 10px 20px;
	text-align : center;
	text-transform : uppercase;
	background : #a19f9f;
	color : #fff;
	font-weight : bolder;
	
}
.pop-content{
	padding : 10px 25px;
	text-align : center;
}
.legend {
    line-height: 18px;
    background-color: #f5f5f5;
    opacity: 0.85;
}
.legend i {
    width: 15px;
    height: 15px;
    float: left;
	margin-right: 8px;
	color: #495057;
}
.legend h5 {
	margin: 0 0 5px;
	color: #495057;
}
.smallCircle, .middleCircle, .intermediateCircle, .bigCircle {
	border: 3px solid#3388ff;
	border-radius: 50%;
	background: rgba(51, 136, 255, 0.2);
	display: block;
    margin-left: auto;
    margin-right: auto
}
.info {
    line-height: 18px;
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    opacity: 0.85;
    border-radius: 5px;
}
.info h5 {
    margin: 0 0 5px;
    color: #495057;
}